.dashboard-account {
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.dashboard-account h2{
    display: flex;
    align-items: center;
}


.dashboard-items {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.dashboard-items-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #00678612;
    aspect-ratio: 2/2;
}
.dashboard-items-box:hover{
    transform: scale(1.01);
    --tw-shadow: 0 2px 4px rgba(0, 0, 0, .08);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000),
        var(--tw-shadow);
}

.dashboard-items-box p,
.dashboard-items-box h4 {
    margin: 0;
    padding: 5px;
}

.dashboard-items-box p svg{
    height: 50px;
    width: 50px;
}